/API_11_DS2_en_csv_v2_5874711.csv
/API_4_DS2_en_csv_v2_5873665.csv
/API_SP.RUR.TOTL_DS2_en_csv_v2_5874544.csv
/malaria-death-rates-by-age.csv
/API_19_DS2_en_csv_v2_5873088.csv
/API_8_DS2_en_csv_v2_5883819.csv
/incidence-of-malaria.csv
/pop_access_itn.csv
/WPP2022_Demographic_Indicators_Medium.csv
