/WMR2022_Annex_4F.xlsx
/tasmin_timeseries_annual_cru_1901-2021_BFA.csv
/tasmin_timeseries_annual_cru_1901-2021_GHA.csv
/tasmin_timeseries_annual_cru_1901-2021_KEN.csv
/tasmin_timeseries_annual_cru_1901-2021_MWI.csv
/tasmin_timeseries_annual_cru_1901-2021_NGA.csv
/pr_timeseries_annual_cru_1901-2021_BFA.csv
/pr_timeseries_annual_cru_1901-2021_GHA.csv
/pr_timeseries_annual_cru_1901-2021_KEN.csv
/pr_timeseries_annual_cru_1901-2021_MWI.csv
/pr_timeseries_annual_cru_1901-2021_NGA.csv
/API_19_DS2_en_csv_v2_5729899.csv
/Annual_Surface_Temperature_Change.csv
/DatasetAfricaMalaria.csv
/Population_access_to_ITN.csv
/WMR2021_Annex5J.xlsx
/WMR2022_Annex_4J.xlsx
/confirmed_cases.csv
/malaria-in-africa.csv
/presumed_cases.csv
/total_malaria_cases (confimed+presumed).csv
